canvas {
  background-image: url("./images/christmas-flat-cartoon-style-background-vector-28112091.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  
}
#screen{
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

/* body{
  background-image: url("./images/imgbin_christmas-frame-balls-mistletoe-png.png");
} */

